apiVersion: v1
kind: Service
metadata:
  name: backend-service
  labels:
    app: backend
spec:
  selector:
    app: backend
  ports:
  - name: http-metrics
    protocol: TCP
    port: 8000
    targetPort: 8000 # El puerto dentro del contenedor
    nodePort: 30086   # Puerto para Grupo 6 (3008X)
  # Cambiar a NodePort para que el WebSocket sea accesible desde el navegador
  type: LoadBalancer 