apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: grupo6
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: leandrosybilla/sd2526-backend:d93efcff3015e4ff7d0c50bdcb7dad7176c589f0
        env:
        - name: RABBIT_URL
          value: "rabbitmq.10.2.15.161.nip.io"
        - name: RABBIT_PORT
          value: "5672"
        - name: RABBIT_USER
          value: "grupo6"
        - name: RABBIT_PASS
          value: "x2c3v4b5n6m7"
        ports:
        - containerPort: 8000
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
