apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: grupo6
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: leandrosybilla/sd2526-frontend:359db071dc66dcf5538fc0534f21ab311be1094b
        ports:
        - containerPort: 80