apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: grupo6
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: leandrosybilla/sd2526-frontend:bb64d58906a8e02b57c144c72195259e607afbb9
        ports:
        - containerPort: 80