apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: grupo6
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: leandrosybilla/sd2526-frontend:d93efcff3015e4ff7d0c50bdcb7dad7176c589f0
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "50m"
            memory: "64Mi"
          limits:
            cpu: "100m"
            memory: "128Mi"