apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: grupo6
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: leandrosybilla/sd2526-frontend:68966fa6f42210061403a28a5ec7eccee10be7a9
        ports:
        - containerPort: 80