apiVersion: apps/v1
kind: Deployment
metadata:
  name: simulator-deployment
  namespace: grupo-6
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simulator
  template:
    metadata:
      labels:
        app: simulator
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
        prometheus.io/path: "/metrics"
    spec:
      containers:
      - name: simulator
        image: leandrosybilla/sd2526-simulator:local
        imagePullPolicy: Never
        env:
        - name: RABBIT_URL
          value: "rabbitmq-service"
        - name: RABBIT_PORT
          value: "5672"
        - name: RABBIT_USER
          value: "guest"
        - name: RABBIT_PASS
          value: "guest"
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "250m"
            memory: "256Mi"