name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v5

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: ./backend/
        platforms: linux/amd64,linux/arm64
        file: ./backend/Dockerfile
        push: true
        tags: ${{ vars.DOCKERHUB_USERNAME }}/sd2526-backend:${{ github.sha }}

    - name: Build and push  
      uses: docker/build-push-action@v6
      with:
        context: ./frontend/
        platforms: linux/amd64,linux/arm64
        file: ./frontend/Dockerfile
        push: true
        tags: ${{ vars.DOCKERHUB_USERNAME }}/sd2526-frontend:${{ github.sha }}

    - name: Build and push  
      uses: docker/build-push-action@v6
      with:
        context: ./simulator/
        platforms: linux/amd64,linux/arm64
        file: ./simulator/Dockerfile
        push: true
        tags: ${{ vars.DOCKERHUB_USERNAME }}/sd2526-simulator:${{ github.sha }}

  update-manifests:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Update Kubernetes manifests
        run: |
          sed -i 's|image:.*-backend:.*|image: ${{ vars.DOCKERHUB_USERNAME }}/sd2526-backend:${{ github.sha }}|' k8s/backend-deployment.yaml
          sed -i 's|image:.*-frontend:.*|image: ${{ vars.DOCKERHUB_USERNAME }}/sd2526-frontend:${{ github.sha }}|' k8s/frontend-deployment.yaml
          sed -i 's|image:.*-simulator:.*|image: ${{ vars.DOCKERHUB_USERNAME }}/sd2526-simulator:${{ github.sha }}|' k8s/simulator-deployment.yaml

      - name: Commit and push changes
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions-bot@github.com"
          git add k8s/*.yaml
          git commit -m "CI: Update image tags to ${{ github.sha }}" || true
          git push

      - name: Adding update tag.
        run: |
          git tag -d kub-update  # delete the old tag remotely
          git tag kub-update | git rev-parse HEAD   # make a new tag locally
          git push --force origin kub-update             # push the new local tag to the remote