name: Docker Image CI

on:
  push:
    branches: [ "leandro/dev" ]
  pull_request:
    branches: [ "leandro/dev" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v5

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ vars.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: ./backend/
        platforms: linux/amd64,linux/arm64
        file: ./backend/Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/sd2526-backend:${{ github.sha }}

    # - uses: actions/checkout@v4
    # - name: Build the Docker image for frontend
    #   run: docker build ./frontend/ --file "./frontend/Dockerfile" --tag sd2025-backend:$(date +%s)

    # - uses: actions/checkout@v4
    # - name: Build the Docker image for simulator
    #   run: docker build ./simulator/ --file "./simulator/Dockerfile" --tag sd2025-backend:$(date +%s)